/* .first, .second, .third {
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
/* 
input {
    margin-top: 10px;
} */